* {
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    margin: 0;
}

main {
    padding: 36px;
}
.header {
    display: flex;
    align-items: center;
    height: 65px;
    background-color: #ac2dda;
    color: #fff;
    padding: 20px;
}

.header--image {
    height: 100%;
    margin-right: 6px;
}

.header--title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-right: auto;
}

.header--text {
    font-size: 1.2rem;
    font-weight: 400;
}

.form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
}

.form--text {
    border: 1px solid #ac2dda;
    border-radius: 4px;
    padding: 0 12px;
    font-size: 1rem;
    font-weight: 400;
    text-indent: 10px;
}

.form--button {
    grid-column: 1 / -1;
    border: 1px solid #ac2dda;
    border-radius: 4px;
    background-color: #ac2dda;
}

.meme--image {
    max-width: 100%;
}

button {
    width: 100%;
    background-color: transparent;
    padding: 1rem;
    color: #000000;
    border: 2px solid white;
    border-radius: 50px;
    cursor: pointer;
    font-family: 'Karla', sans-serif;
    margin-bottom: 20px;
}

button:hover {
    background-color: #FFFEF1;
    color: #2C5E2E;
}

button:focus {
    outline: 0;
}

body {
    background-color: whitesmoke;
    margin: 0;
    font-family: "Inter", sans-serif;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 200px;
    border: 1px solid lightgray;
    border-radius: 10px;
    height: 350px;
    box-shadow: 5px 5px 5px 1px rgba(120,120,120,0.44);
    -webkit-box-shadow: 5px 5px 5px 1px rgba(120,120,120,0.44);
    -moz-box-shadow: 5px 5px 5px 1px rgba(120,120,120,0.44);
}

.card--image {
    height: 60%;
    width: 100%;
    padding: 10%;
    padding-bottom: 0;
}

.card--name {
    margin-block: 13px;
    color: #333333;
}

.card--info {
    padding: 10px;
}

.card--favorite {
    width: 25px;
    cursor: pointer;
}

.card--contact {
    font-size: 0.75rem;
    color: gray;
    margin-block: 7px;
}

.box {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 5px;
    display:inline-block;
    margin:10px;
}

.joke--question {
    margin: 10px;
}

.joke--answer {
    margin: 10px;
}

.textarea {
    margin: 10px;
}

.footer {
    margin-top: 400px;
}

.form-container {
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
}

.form--input {
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
    font-family: 'Inter', sans-serif;
}

.form--submit {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: #639;
    border: none;   
    cursor: pointer; 
}

.form--marketing {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.form--marketing > input {
    margin-right: 10px;
}

.form1 {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
    margin-bottom: 17px;
}

.form--input1 {
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
}

.form--button1 {
    grid-column: 1 / -1;
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    border: none;
    cursor: pointer;
}

.meme {
    position: relative;
}

.meme--image1 {
    max-width: 100%;
    border-radius: 3px;
}

.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}